<div class="carousel-container">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === 0">
          <img class="d-block w-100" [src]="image.src" [alt]="'Imagen ' + (i + 1)">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<div class="container-principal-movies">

  <div class="container">
    <span class="home-text">Películas recientes</span>
    <div class="row">
      <div class="col-md-4" *ngFor="let movie of moviesList">
        <div class="card mb-4">
          <div class="card-body"> 
            <img src="{{ movie.photo }}" class="card-img-top" alt="" width="auto" height="350px">
            <h5 class="card-title">{{ movie.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>