<div class="carousel-container">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === 0">
          <img class="d-block w-100" [src]="image.src" [alt]="'Imagen ' + (i + 1)">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
  
<div class="home-container">
  <span class="home-text">Películas recientes</span>

  <mat-card class="example-card">
    <mat-card-content class="movie-card" *ngFor="let movie of moviesList">
      <img class="movie-image" [src]="movie.photo">
      <div class="movie-info">
        <span class="movie-title">{{ movie.name }}</span>
      </div>
    </mat-card-content>
  </mat-card>

</div>