table {
    width: 100%;
    font-size: 18px;
    background-color: #9d9d9d;
  }
  
  .mat-mdc-form-field {
    font-size: 20px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    font-size: 18px;
  }

.container{
  width: 90%;
  margin: auto;
}

.genres-container{
  display: flex;
  flex-direction: column;
  align-items: left; 
  margin-bottom: 10px;
}

.genres-text{
  margin-right: 10px;
  color: white;
}