
<mat-card *ngIf="isShowCard">
    <form (submit)="onSubmit()" #movieForm="ngForm" class="form-container">
        <mat-form-field><input matInput placeholder="Nombre" name="name" required [(ngModel)]="movieData.name"></mat-form-field>
        <mat-form-field><input type="text" matInput placeholder="URL de Foto" name="photo" required [(ngModel)]="movieData.photo"></mat-form-field>
        <mat-form-field><input type="text" matInput placeholder="Duración (minutos)" name="length" required [(ngModel)]="movieData.length"></mat-form-field>
        <mat-form-field><input type="text" matInput placeholder="Género" name="genre" required [(ngModel)]="movieData.genre"></mat-form-field>
        <mat-form-field><input type="text" matInput placeholder="Descripción" name="description" required [(ngModel)]="movieData.description"></mat-form-field>

        <ng-container *ngIf="isEditMode; else elseTemplate">
          <button mat-button color="primary">Update</button>&nbsp;
          <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
        </ng-container>&nbsp;
        <ng-template #elseTemplate>
          <button mat-button color="primary"> Add </button>
          <button mat-button color="warn" (click)="cancelAdd()">Cancel</button>
        </ng-template>
    </form>
</mat-card>

<div class="container">
    <div class="head-container"> 
        <mat-form-field class="form-filter">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Avengers" #input>
        </mat-form-field>
        <button mat-fab color="warn" (click)="showCard()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
   
    <div class="genres-container">
        <p class="genres-text">Genres: </p> 
        <mat-chip-listbox>
            <mat-chip-option color="warn" *ngFor="let item of genres" (click)="searchByGenre(item)">
                {{ item }}
            </mat-chip-option>
        </mat-chip-listbox>
    </div>
    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
            
            <!-- Photo Column -->
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Photo </th>
                <td mat-cell *matCellDef="let row"> 
                    <img  aria-label="This is a photo of the movie" src="{{row.photo}}" alt="movie photo" width="auto" height="100px"> 
                </td>
            </ng-container>

             <!-- Length Column -->
             <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Length </th>
                <td mat-cell *matCellDef="let row"> {{row.length + 'min'}} </td>
            </ng-container>

             <!-- Genre Column -->
             <ng-container matColumnDef="genre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
                <td mat-cell *matCellDef="let row"> {{row.genre}} </td>
            </ng-container>
            
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions</th>
                <td mat-cell *matCellDef="let element">
                    <a mat-raised-button color="accent" (click)="editMovie(element); $event.stopPropagation()"><mat-icon>edit</mat-icon></a>
                    <a mat-raised-button color="warn" (click)="deleteMovie(element.id); $event.stopPropagation()"><mat-icon>delete</mat-icon></a>
                </td>
            </ng-container>
            
            <!-- agregamos 1 evento para el detail -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRow(row); $event.stopPropagation()"></tr>
            
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>