.example-card {
    max-width: 400px;
    margin: 40px auto;

}

.example-header-image {
    background-size: cover;
}
.movie-description{
    margin: 1rem;
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-direction: column;
}
.custom-button {
    background-color: transparent; 
    border: 1px  solid #F44336; 
    color:#F44336; 
    font-size: 18px;
    padding: 10px;
    width: max-content;
    margin-bottom: 10px;
}

.custom-button:hover {
    cursor: pointer;
    background-color: #F44336;
    color: white;
    transition: 0.5s;
    box-shadow: 0 0 10px #F44336;
}
